{% set map = {
    'Debian': {
        {% for userper in ['moe','larry','curly'] %}
        'username': {{ userper }},
        {% endfor %}
        'password': 'PUT_PASSWORD_HERE',
    },
} %}

{% set user = map.get(grains.os_family) %}
